<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school %><br>
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date, start_year: 1992%>
  </div>
  <div class="field">
    <%= f.label :course_of_study %><br>
    <%= f.text_field :course_of_study %>
  </div>
  <div class="field">
    <%= f.label :level_of_completion %><br>
    <%= f.text_field :level_of_completion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
