<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @training.school %>
</p>

<p>
  <strong>End date:</strong>
  <%= @training.end_date %>
</p>

<p>
  <strong>Course of study:</strong>
  <%= @training.course_of_study %>
</p>

<p>
  <strong>Level of completion:</strong>
  <%= @training.level_of_completion %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
