<p id="notice"><%= notice %></p>

<h1>Listing School Achievements</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Achievement</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_achievements.each do |school_achievement| %>
      <tr>
        <td><%= school_achievement.school_id %></td>
        <td><%= school_achievement.achievement %></td>
        <td><%= school_achievement.description %></td>
        <td><%= link_to 'Show', school_achievement %></td>
        <td><%= link_to 'Edit', edit_school_achievement_path(school_achievement) %></td>
        <td><%= link_to 'Destroy', school_achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School achievement', new_school_achievement_path %>
