<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site_link %><br>
    <%= f.text_field :site_link %>
  </div>
  <div class="field">
    <%= f.label :my_contribution %><br>
    <%= f.text_area :my_contribution %>
  </div>
  <div class="field">
    <%= f.label :boxed_logo %><br>
    <%= f.text_field :boxed_logo %>
  </div>
  <div class="field">
    <%= f.label :company_working_for %><br>
    <%= f.text_field :company_working_for %>
  </div>
  <div class="field">
    <%= f.label :project_description %><br>
    <%= f.text_area :project_description %>
  </div>
  <div class="field">
    <%= f.label :challenges %><br>
    <%= f.text_area :challenges %>
  </div>
  <div class="field">
    <%= f.label :screenshot %><br>
    <%= f.text_field :screenshot %>
  </div>
  <div class="field">
    <%= f.label :mobile_screen_shot %><br>
    <%= f.text_field :mobile_screen_shot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
