<div class="custom-ym-wrapper">
  <div class="ym-wbox">   
    <main>
      <section class="box info">



        <p id="notice"><%= notice %></p>

        <%= link_to 'Back to Portfolio', samples_path, :class => 'ym-button ym-primary mbxl floatr' %>

        <table class="portfolio-info">
          <tr>
            <td>
              <%= link_to image_tag("portfolio/logos/"+@sample.boxed_logo, :class => 'portfolio-logo sample-logo'), @sample.site_link, :class => 'portfolio-logo', :target => :_blank %>
            </td>
            <td>
              <p class="inline-block">
                <strong>Company Info: </strong><%= @sample.project_description %>
              </p>
              <p>
                <strong>My contribution: </strong><%= @sample.my_contribution %>
              </p>
            </td>
          </tr>

          <tr>
            <td>
              <p>
                <strong>Company working for: </strong><%= @sample.company_working_for %>
              </p>

            </td>
            <td>
              <p>
                <strong>Challenges: </strong><%= @sample.challenges %>
              </p>

            </td>
          </tr>


          <tr>
            <td colspan="2">
              <%= link_to image_tag("portfolio/"+ @sample.screenshot , :class => 'screenshot'), @sample.site_link, :class => '', :target => :_blank  %>
              <% if @sample.mobile_screen_shot? %>
                <%= link_to image_tag("portfolio/"+ @sample.mobile_screen_shot , :class => 'mobile-screenshot'), @sample.site_link, :class => '', :target => :_blank  %>
              <% end %>
            </td>
          </tr>






        </table>





<%#= link_to 'Edit', edit_sample_path(@sample) %>



      </section>        
    </main>   
  </div>
</div>
