<div class="custom-ym-wrapper">
  <div class="ym-wbox">   
    <main>
      <div class="ym-column linearize-level-1 ">
        <div class="ym-col1">
          <section class="box info">
            <h1>Work Experience</h1>
            <table>
              <tbody>
                <% @jobs.each do |job| %>
                  <tr>
                    <td>
                      <h4><img src="../assets/logos/companies/<%= job.logo %>" style="max-height: 24px;" %>&nbsp;<%= job.company %><%#= job.id %><span class="label float-right"><%= job.start_date.strftime("%B %d, %Y") %>&nbsp;-&nbsp;<%= job.humanized_end_date %></span></h4>
                      <h6><%= job.position_title %></h6>
                      <table>
                        <% job.job_duties.each do |duty| %>
                          <tr>
                            <td>
                              <%#= link_to(duty.id, edit_job_duty_path(duty)) %><%= duty.description %>
                            </td>
                          </tr>
                        <% end %>
                      </table>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>
          </section>
        </div>
        <aside class="ym-col3">
          <div class="ym-cbox">
            <h4>Miscellaneous Abilities</h4>
            <ul>
              <% @misc_abilities.each do |ability| %>
                <li><%= ability.description %></li>
              <% end %>
            </ul>
          </div>
        </aside>
      </div>
    </main>   
  </div>
</div>

