<p id="notice"><%= notice %></p>

<h1>Listing Full Resumes</h1>
<%= @user.first_name + " " + @user.last_name %>
<%= @resume.objective %>
<table>
  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.title %></td>
        <td><%= work.company %></td>
        <td><%= work.city %></td>
        <td><%= work.state %></td>
        <td><%= work.start_date %></td>
        <td><%= work.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<table>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.city %></td>
        <td><%= school.state %></td>
        <td><%= school.completion_date %></td>
        <td><%= school.field_of_study %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<table>
  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td><%= interest.name %></td>
        <td><%= interest.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<table>
  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<table>
  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.city %></td>
        <td><%= skill.state %></td>
        <td><%= skill.completion_date %></td>
        <td><%= skill.field_of_study %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br>
<table>
  <tbody>
    <% @miscellaneous.each do |miscellanou| %>
      <tr>
        <td><%= miscellanou.name %></td>
        <td><%= miscellanou.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

