<p id="notice"><%= notice %></p>

<h1>Listing Miscellaneous</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @miscellaneous.each do |miscellaneou| %>
      <tr>
        <td><%= miscellaneou.name %></td>
        <td><%= miscellaneou.description %></td>
        <td><%= link_to 'Show', miscellaneou %></td>
        <td><%= link_to 'Edit', edit_miscellaneou_path(miscellaneou) %></td>
        <td><%= link_to 'Destroy', miscellaneou, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Miscellaneou', new_miscellaneou_path %>
