<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @miscellaneou.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @miscellaneou.description %>
</p>

<%= link_to 'Edit', edit_miscellaneou_path(@miscellaneou) %> |
<%= link_to 'Back', miscellaneous_path %>
