<h1>Listing job_duties</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_duties.each do |job_duty| %>
      <tr>
        <td><%= job_duty.description %></td>
        <td><%= link_to 'Show', job_duty %></td>
        <td><%= link_to 'Edit', edit_job_duty_path(job_duty) %></td>
        <td><%= link_to 'Destroy', job_duty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job duty', new_job_duty_path %>
